@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
}
header {
  height: 8rem;
  padding: 2rem 3rem !important;
}
footer {
  padding: 3rem;
}

.active {
  background-color: #2e2f36;
  color: #e5f876;
}

.open {
  display: block;
}
